<div class="container mt-2">
  <div class="row">
    <div class="col-12 px-3">
      <div class="alert alert-success" role="alert" *ngIf="message?.length>0">
        <strong>{{message}}</strong>
        <a class="btn btn-warning btn-sm" (click)="clear()">Clear</a>
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="errMessage?.length>0">
        <strong>{{errMessage}}</strong>
        <a class="btn btn-warning btn-sm" (click)="clear()">Clear</a>
      </div>
    </div>

    <div class="col-12 col-md-6">
    </div>

    <div class="col-12 col-md-6">
      <div class="raised">
        <form [formGroup]="allStudentForm" (ngSubmit)="send()">
          <div class="from-group px-2">
            <h3 class="text-center">সকল ছাত্র/ছাত্রী</h3>
          </div>
          <div class="form-group px-2">
            <label for="exampleFormControlTextarea1">এখানে আপনার বার্তা লিখুন</label>
            <textarea class="form-control" rows="4" maxlength="70" #tmessage [(ngModel)]="generalSMS.message" formControlName="message">
          </textarea>
            <small class="form-text pull-right">{{tmessage.value?.length}}/70</small>
          </div>

          <div class="form-group px-2">

            <button class="btn btn-primary " [disabled]="allStudentForm.invalid">
              <i class="fa fa-paper-plane"></i>Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>