<div class="container mt-2">
  <div class="row">

    <div class="col-12" *ngIf="errorMessage.length>0">
      <div class="alert alert-warning" role="alert">
        {{errorMessage}}
        <a class="btn btn-warning btn-sm" (click)="clear()">Clear</a>
      </div>
    </div>

    <div class="col-12 col-md-8 raised">
      <div class="from-group">
        <h3 class="text-center">SMS HISTORY</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Phone</th>
            <!-- <th>message</th> -->
            <th>Note</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sms of smsPage?.content">
            <td>{{sms.date | date:'yyyy-MM-dd HH:mm a '}}</td>
            <td>{{sms.phone}}</td>
            <!-- <td>{{sms.message}}</td> -->
            <td>{{sms.notes}}</td>

          </tr>
          <tr *ngFor="let i of arr(10 - smsPage?.numberOfElements)">
            <td colspan="5">
              &nbsp;
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <div aria-label="Page navigation example">
                <ul class="pagination justify-content-end m-0">
                  <li class="page-item" [ngClass]="{'disabled': smsPage?.first}">
                    <a class="page-link" [routerLink] (click)="getSMSPage(0)"> First </a>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled': smsPage?.number == 0}">
                    <a class="page-link" [routerLink] (click)="getSMSPage(smsPage?.number-1)"> Previous </a>
                  </li>

                  <li class="page-item">
                    <a class="page-link"> {{smsPage?.number+1}} / {{smsPage?.totalPages}} </a>
                  </li>

                  <li class="page-item" [ngClass]="{'disabled': smsPage?.last}">
                    <a class="page-link" [routerLink] (click)="getSMSPage(smsPage?.number+1)"> Next </a>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled': smsPage?.last}">
                    <a class="page-link" [routerLink] (click)="getSMSPage(smsPage?.totalPages-1)"> Last </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>