<div class="container mt-2">
  <div class="row">
    <div class="col-12" *ngIf="message.length>0">
      <div class="alert alert-primary" role="alert">
        {{message}}
        <a class="btn btn-warning btn-sm" (click)="clear()">Clear</a>
      </div>
    </div>

    <div class="col-12" *ngIf="errorMessage.length>0">
      <div class="alert alert-warning" role="alert">
        {{errorMessage}}
        <a class="btn btn-warning btn-sm" (click)="clear()">Clear</a>
      </div>
    </div>

    <div class="col-12 col-md-6">

    </div>

    <div class="col-12 col-md-6">

      <form [formGroup]="classStudentForm" (ngSubmit)="send()">
        <div class="from-group">
          <h3 class="text-center">ক্লাস অনুযায়ী বার্তা</h3>
        </div>

        <div class="form-group">
          <label>ক্লাস নির্বাচন করুন</label>
          <select class="form-control" name="classId" #class  (change)="classChanged(class.value)" formControlName="classId" [(ngModel)]="generalSMS.number">
            <option *ngFor="let class of classList" [value]="class.id">{{class.className}}</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">এখানে আপনার বার্তা লিখুন</label>
          <textarea class="form-control" rows="4" maxlength="70" #tmessage [(ngModel)]="generalSMS.message"
            formControlName="message">
          </textarea>
          <small class="form-text pull-right">{{tmessage.value?.length}}/160</small>
        </div>

        <div class="form-group">

          <button class="btn btn-primary" [disabled]="classStudentForm.invalid">
            <i class="fa fa-paper-plane"></i>পাঠান
          </button>
        </div>
      </form>
    </div>
  </div>
</div>