<div class="m-0 top-banner default-primary-color">
  <div class="container">
      <div class="row m-0">
          <div class="col-md-6 py-2 screen-shots ">
              <!--<img th:src="@{images/paperplane.png/}" class="img-fluid float-right" style="height: 100%"/>-->
          </div>
          <div class="col-md-6 text-center pl-3">
              <div class="top-banner-title">
                  Academy Uses <br>
                  <strong>SMS</strong> Gateway
              </div>
              <p class="lead">
                  A powerful software platform to send your information to your students parents.
              </p>
              <button type="button" class="btn btn-lg btn-primary raised" routerLink="/home/register">Sign up and Start Sending</button>
              <!-- <a class="btn btn-lg btn-primary" role="button" href="/register">Sign up and Start Sending</a> -->
          </div>
      </div>
  </div>
</div>

<!-- Features -->
<div class="container pt-4">
  <div class="row m-0">
      <div class="col-md-4 offset-md-4 section-title">
          <span class="text-center">FEATURES</span>
      </div>
  </div>
  <div class="row mt-4">
      
      <div class="col-12 col-md-6 ">
          <div class="media">
              <div class="media-left">
                  <a class="fa-wrap dark-primary-color" href="/register">
                      <i class="fa fa-language fa-3x"></i>
                  </a>
              </div>
              <div class="media-body">
                  <h5 class="title text-info media-heading">
                      <a class="h5 binded-link" style="text-decoration: none;" href="/register">
                          Send SMS in English / বাংলা
                      </a>
                  </h5>
                  <p class="text-padding-right-6">You would be able to send sms to all of your students/customers/clients</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 ">
          <div class="media">
              <div class="media-left">
                  <a class="fa-wrap dark-primary-color" href="/register">
                      <i class="fa fa-globe fa-3x"></i>
                  </a>
              </div>
              <div class="media-body">
                  <h5 class="title text-info media-heading">
                      <a class="h5 binded-link" style="text-decoration: none;" href="/register">
                          Send SMS to all
                      </a>
                  </h5>
                  <p class="text-padding-right-6">You would be able to send sms to all of your students/customers/clients</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 ">
          <div class="media">
              <div class="media-left">
                  <a class="fa-wrap dark-primary-color" href="/register">
                      <i class="fa fa-group fa-3x"></i>
                  </a>
              </div>
              <div class="media-body">
                  <h5 class="title text-info media-heading">
                      <a class="h5 binded-link" style="text-decoration: none;" href="/register">
                          Send SMS Class Wise
                      </a>
                  </h5>
                  <p class="text-padding-right-6">You would be able to send sms to students from a class</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 ">
          <div class="media">
              <div class="media-left">
                  <a class="fa-wrap dark-primary-color" href="/register">
                      <i class="fa fa-pencil-square-o fa-3x"></i>
                  </a>
              </div>
              <div class="media-body">
                  <h5 class="title text-info media-heading">
                      <a class="h5 binded-link" style="text-decoration: none;" href="/register">
                          Send Absent SMS
                      </a>
                  </h5>
                  <p class="text-padding-right-6">You would be able to send Absent SMS buy selecting students from
                      a class student list</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 ">
          <div class="media">
              <div class="media-left">
                  <a class="fa-wrap dark-primary-color" href="/register">
                      <i class="fa fa-list fa-3x"></i>
                  </a>
              </div>
              <div class="media-body">
                  <h5 class="title text-info media-heading">
                      <a class="h5 binded-link" style="text-decoration: none;" href="/register">
                          Send Result SMS
                      </a>
                  </h5>
                  <p class="text-padding-right-6">You would be able to send Result SMS to a class of students</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 ">
          <div class="media">
              <div class="media-left">
                  <a class="fa-wrap dark-primary-color" href="/register">
                      <i class="fa fa-envelope-o fa-3x"></i>
                  </a>
              </div>
              <div class="media-body">
                  <h5 class="title text-info media-heading">
                      <a class="h5 binded-link" style="text-decoration: none;" href="/register">
                          Send Manual SMS
                      </a>
                  </h5>
                  <p class="text-padding-right-6">You would be able to send SMS manually like your mobile phone</p>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Pricing section -->
<div class="container" style="min-height: calc(100vh - 144px);">
  <div class="row m-0">
      <div class="col-md-4 offset-md-4 section-title">
          <h2 class="text-center">Pricing</h2>
      </div>
  </div>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Startup</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">৳0<small class="text-muted">/m</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Registration fee 4000৳</li>
          <li>Per SMS cost 0.50৳</li>
          <li>Maximum student <strong>250</strong></li>
          <li>Per Month cost 0.0৳</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/home/register" >Sign up for free</button>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Micro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">৳500<small class="text-muted">/m</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Registration fee 3000৳</li>
          <li>Per SMS cost 0.50৳</li>
          <li>Maximum student <strong>600</strong></li>
          <li>Per Month cost 500.0৳</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary raised" (click)="open()">Contact us</button>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Small</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">৳1000<small class="text-muted">/m</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Registration fee 2500৳</li>
          <li>Per SMS cost 0.45৳</li>
          <li>Maximum student <strong>1200</strong></li>
          <li>Per Month cost 1000.0৳</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary raised" (click)="open()">Contact us</button>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal ">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">৳1500<small class="text-muted">/m</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Registration fee 2000৳</li>
          <li>Per SMS cost 0.42৳</li>
          <li>Maximum student <strong>unlimited</strong></li>
          <li>Per Month cost 1500.0৳</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary raised" (click)="open()">Contact us</button>
      </div>
    </div>
    
  </div>
</div>

<!-- <app-footer></app-footer> -->
