.top-banner {
    min-height: 290px;
    /* background-color: #29b6f6; */
    background-image: url(/assets/images/paperplane.png);
    background-repeat: no-repeat;
    background-position: 20px 60px;
    background-size: 45% 280px;
    background-attachment: fixed;
}
.top-banner-title {
    padding-top: 15px;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    color: white;
    text-shadow: 0 2px 1px #00796B;
}


.media {
    min-height: 110px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 1px darkgrey;
}
.fa-wrap {
    width: 62px;
    height: 62px;
}
.fa-wrap, .fa-wrap-lg {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    border-radius: 45px;
    /* background-color: #7cb342; */
    color: #FFF;
    cursor: pointer;
}
.fa-3x {
    padding-top: 8px;
}

.package-title {
    margin-top: 15px;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    /* background-color: #7cb342; */
    text-align: center;
    color: white;
}
.package-price {
    padding-top: 5px;
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 3px grey;
    border: 1px solid gray;
}
.package-details {
    list-style-type: none;
    text-align: left;
    padding: 8px;
    border: 1px solid gray;
    margin: 0;
}

@media (max-width: 767px){
    .top-banner {
        min-height: 230px;
        background-size: 90% 220px;
        margin-bottom: .5rem;
        /* background-position: 0; */
    }
    .top-banner-title {
        padding-top: 5px;
        font-size: 2rem;
        margin-bottom: 2px;
    }
    .lead {
        font-size: 15px;
    }
}

/* Login in form */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-form > * {
    width: 100%;
}
