<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-success" role="alert" *ngIf="message?.length>0">
          <strong>{{message}}</strong>
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="errMessage?.length>0">
          <strong>{{errMessage}}</strong>
      </div>
    </div>
    <div class="col-12 col-md-7 raised">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of rolesPage?.content">
            <td>{{role.name}}</td>
            <td>
              <button class="btn btn-warning btn-sm raised" 
                  (click)="editRole(role.id)">
                  <i class="fa fa-pencil-square-o"></i> 
              </button> 
              <button class="btn btn-danger btn-sm raised" 
                  (click)="deleteRole(role.id)">
                  <i class="fa fa-trash-o"></i> 
              </button> 
            </td>
          </tr>
          <tr *ngFor="let i of arr(10 - rolesPage?.numberOfElements)" >
              <td colspan="5">
                  <a class="btn btn-sm">
                      &nbsp;
                  </a> 
              </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <!-- <td>
                <a class="btn btn-primary btn-sm raised" 
                [routerLink] (click)="clear()">
                    <i class="fa fa-plus"></i> Add
                </a> 
            </td> -->
            <td colspan="2">
              <div aria-label="Page navigation example">
                <ul class="pagination justify-content-end m-0">
                  <li class="page-item" [ngClass]="{'disabled': rolesPage?.first}" ><a class="page-link" [routerLink] (click)="getRolesPage(0)" > First </a></li>
                  <li class="page-item" [ngClass]="{'disabled': rolesPage?.number == 0}" ><a class="page-link" [routerLink] (click)="getRolesPage(rolesPage?.number-1)" > Previous </a></li>
  
                  <li class="page-item"><a class="page-link" > {{rolesPage?.number+1}} / {{rolesPage?.totalPages}} </a></li>
  
                  <li class="page-item" [ngClass]="{'disabled': rolesPage?.last}"><a class="page-link" [routerLink] (click)="getRolesPage(rolesPage?.number+1)"> Next </a></li>
                  <li class="page-item" [ngClass]="{'disabled': rolesPage?.last}"><a class="page-link" [routerLink] (click)="getRolesPage(rolesPage?.totalPages-1)"> Last </a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>


    <div class="col-12 col-md-5">
      <div class="raised">
        <div class="text-center" [class.bg-warning]="edit">
          <h3>{{edit?'Edit':'Add'}} Role</h3>
        </div>
        <form [formGroup]="roleForm" (ngSubmit)="saveRole()" novalidate>
          <div class="form-group mx-3">
            <label>Role</label>
            <input type="text" class="form-control" placeholder="Role Name" [(ngModel)]="role.name" formControlName="name">
          </div>
          <div class="form-group mx-3 pb-3">
            <button type="button" class="btn btn-light" (click)="clear()">Clear</button>
            <button type="submit" class="btn" [ngClass]="edit?'btn-warning':'btn-primary'" [disabled]="this.roleForm.invalid">{{edit?'Update':'Save'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
